<!--<ion-content class="card-background-page" scroll="false" scrollbar-x="false">-->

<div class="card-background-page">

<h3>Select your starting City</h3>
  <ion-card (click)="presentConfirm('Berlin')">
    <img src="../assets/image/berlin.jpg"/>
    <div class="card-title">Berlin</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

  <ion-card (click)="presentConfirm('Stuttgart')">
    <img src="../assets/image/stuttgart.jpg"/>
    <div class="card-title">Stuttgart</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card (click)="presentConfirm('Köln')">
    <img src="../assets/image/koeln.jpg"/>
    <div class="card-title">Köln</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card (click)="presentConfirm('Dortmund')">
    <img src="../assets/image/dortmund.jpg"/>
    <div class="card-title">Dortmund</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>

</div>

<!--</ion-content>-->