<ion-list>
  <ion-list-header>
    Round ended
    <div item-content>
      {{roundNumber}}
    </div>
  </ion-list-header>


  <ion-item>totalCosts: {{totalCosts}}</ion-item>
  <ion-item>Earnings: {{earnings}}</ion-item>
  <ion-item>dailyBalance: {{dailyBalance}}</ion-item>



  <ion-item>See what you have sold this time:</ion-item>

  <ion-item *ngFor="let selling of sellings">
    <h2>{{selling.productName}} {{selling.productId}}</h2>
    <p>Stock: {{selling.stock}}, In: {{selling.newIn}} / Out: {{selling.amountSold}}</p>
    <p>Earned: {{selling.amountEarned}}</p>
  </ion-item>

</ion-list>