
  <ion-list-header>
    Balance
  </ion-list-header>

  <ion-item-divider>
    {{money}}
  </ion-item-divider>


  <ion-item *ngFor="let product of products">
    {{product.name}} - {{product.amount}}
    <ion-buttons text-center item-right>
      <button ion-button (click)="calcMoneyToSpend(12,product)">12</button>
      <button ion-button (click)="calcMoneyToSpend(24,product)">24</button>
      <button ion-button (click)="calcMoneyToSpend(48,product)">48</button>
    </ion-buttons>
  </ion-item>

  <ion-item></ion-item>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button round color="dark" (click)="confirmBuying()">Buy</button>
    </ion-buttons>
    <ion-title>Checkout: {{moneyToSpend}}</ion-title>
    <ion-buttons right style="padding-right: 15px">
      <button ion-button round color="danger" (click)="resetCheckout()">reset</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>