page-home {

}

.gameButtons {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 40%;
  padding-bottom: 40%;
  // display: table;
  vertical-align: middle;
  width: 75%;
}

// button {
//   display: table-cell;
// }