// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*, body {
  box-sizing: border-box;
}


.listOfPages {
  margin-top: 55px;
}

.row {
  margin-bottom: 35px;
}

// .app-root {
//   overflow-y: auto;
//   background-image: url("../assets/image/main_background.png");
//   background-repeat: no-repeat;
//   background-position: left top;
//   background-size: cover;
// }

// .scroll-content { background-color: transparent; }
// .content-ios { background-color: transparent; }
.content-md { background-color: transparent; }
.content-wp { background-color: transparent; }
.card-md, .list-md { background-color: transparent; }
// .card-ios { background-color: transparent; }
// // .card-wp { background-color: transparent; }
// .content-ios.outer-content { background-color: transparent !important; }


page-home ion-content {
  overflow-y: auto;
  background-image: url("../assets/image/main_background.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

ion-card-header { background-color: white; }