<ion-card>
  <ion-card-header>
    Select Savegame Slot
  </ion-card-header>

  <ion-list>
    <div ion-item *ngFor="let slot of slots">
      <button (click)="selectSaveSlot(slot)">
        <h2>{{slot.name}}</h2>
        <h3 *ngIf="!slot.city">&lt; no Game &gt;</h3>
        <h3 *ngIf="slot.city">City: {{slot.city}}</h3>
        <p *ngIf="slot.city">Shop: {{slot.shop}}, Money: {{slot.money}}</p>
      <!--</ion-card>-->
      </button>
      <button (click)="confirmDeletingSave(slot.value)" ion-button item-right>
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-card>