
    <!--<ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-right>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/thumbnail-rotla.png">
      </ion-thumbnail>
      <h2>Raiders of the Lost Ark</h2>
      <p>Steven Spielberg • 1981</p>
      <button ion-button clear item-right>View</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/thumbnail-ghostbusters.png">
      </ion-thumbnail>
      <h2>Ghostbusters</h2>
      <p>Ivan Reitman • 1984</p>
      <button ion-button clear item-right>View</button>
    </ion-item>-->




<ion-card>
  <ion-card-header>
    Select Savegame Slot
  </ion-card-header>

  <ion-list>
    <div *ngFor="let slot of slots">
      <button ion-item (click)="selectSaveSlot(slot)">
        <h2>{{slot.name}}</h2>
        <p *ngIf="!slot.city">&lt; no Game &gt;</p>
        <p *ngIf="slot.city">City: {{slot.city}}, Shop: {{slot.shop}}, Money: {{slot.money}}</p>
      <!--</ion-card>-->
      </button>
        <button ion-button item-right><ion-icon (click)="confirmDeletingSave(slot.value)" name="trash"></ion-icon></button>
    </div>
  </ion-list>
</ion-card>