<ion-list>
  <ion-list-header>
    Balance
  </ion-list-header>

  <ion-item>
    <h2>Money</h2>
    <div item-content>{{money}}</div>
  </ion-item>

  <ion-item>
    <h2>Daily Costs</h2>
    <div item-content>{{dailyCosts}}</div>
  </ion-item>

  <ion-item>
    <h2>Earning</h2>
    <div item-content>5.000</div>
  </ion-item>

</ion-list>

  <ion-list>
    <ion-list-header>
      Detailed Monthly Costs
    </ion-list-header>

    <ion-item>
      <h2>Rent</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-item>
      <h2>Energy</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-item>
      <h2>Water</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-item>
      <h2>Insurance</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-item>
      <h2>Waste</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-item>
      <h2>Heating</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-item>
      <h2>Licences</h2>
      <div item-content item-right>500,-</div>
    </ion-item>

    <ion-list-header>Sum of monthly cost</ion-list-header>
    <ion-item>days per year</ion-item>
    <ion-item>dailyCosts</ion-item>

  </ion-list>