<ion-list>
  <ion-list-header>
    Balance
  </ion-list-header>

  <ion-item>
    <h2>Money</h2>
    <div item-content>{{money}}</div>
  </ion-item>

  <ion-item>
    <h2>Daily Costs</h2>
    <div item-content>{{dailyCosts}}</div>
  </ion-item>

  <ion-item>
    <h2>Earning</h2>
    <p>25.000</p>
  </ion-item>

</ion-list>

  <ion-list>
    <ion-list-header>
      Costs
    </ion-list-header>

    <ion-item-sliding>
      <ion-item>
        <h2>Rent</h2>
        <p>500,-</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-left>
          <ion-icon name="ios-more"></ion-icon>
          More
        </button>
        <button ion-button color="primary" icon-left>
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary" icon-left>
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
      <h2>Energy</h2>
    </ion-item>

    <ion-item>
      <h2>Water</h2>
    </ion-item>

    <ion-item>
      <h2>Insurance</h2>
    </ion-item>

    <ion-item>
      <h2>Waste</h2>
    </ion-item>

    <ion-item>
      <h2>Heating</h2>
    </ion-item>

    <ion-item>
      <h2>Licences</h2>
    </ion-item>

  </ion-list>